<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-shop">
            <dt><i class="Hui-iconfont">&#xe66a;</i> 店铺管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Shop/goodsList')}" data-title="商品列表" href="javascript:void(0);">商品列表</a></li>
                    <li><a data-href="{:url('Shop/orderList')}" data-title="订单管理" href="javascript:void(0);">订单管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>