<style>
    .thumbnail{ width:300px;}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">举办方单位：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span>
                    {$info.org}
                </span>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row cl" id="picsize">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span style="font-size: 16px">
                    (建议尺寸: 702*300)
                </span>
            </div>
        </div>
        <div class="row cl" id="pic" >
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary uploadfile radius ml-10">活动封面</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        <img class="thumbnail" src="{$qiniu_weburl}{$info.cover}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">使用视频：</label>
            <div class="formControls col-xs-8 col-sm-10">
                <input type="checkbox" id="use_video" name="use_video" value="1" style="width: 20px;height: 20px" {if $info['use_video']}checked{/if}>
            </div>
        </div>
        <div class="row cl" id="video_detail" {if !$info['use_video']}style="display:none"{/if}>
            <label class="form-label col-xs-4 col-sm-2">
                <span class="btn btn-primary uploadvideo radius ml-10">上传视频</span>
            </label>
            <div class="formControls col-xs-4 col-sm-4">
                <div class="uploader-thum-container">
                    <div class="uploader-list">
                        <video id="video" src="{$qiniu_weburl}{$info.video_url}" controls="controls" style="width: 100%">
                            your browser does not support the video tag
                        </video>
                    </div>
                </div>
            </div>
            <div class="formControls col-xs-4 col-sm-4">
                <div style="width: 100%;height: 20px;background: #e3e3e3;border-radius:2px;display: none" id="progress-bar">
                    <div style="width: 0px;height: 20px;background: #177fcb;border-radius:2px" id="progress"><b style="margin-left: 15px;width: 80px;display: block" id="progress-text">0%</b></div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.title}" placeholder="输入活动标题" id="title" name="title" maxlength="30">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>征集主题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.theme}" placeholder="活动征集主题" id="theme" name="theme" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系人：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.linkman}" placeholder="联系人姓名" id="linkman" name="linkman" maxlength="15">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系电话：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.tel}" placeholder="联系电话" id="tel" name="tel" maxlength="15">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="email" class="input-text" value="{$info.email}" placeholder="联系邮箱" id="email" name="email" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>微信：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.weixin}" placeholder="微信号(选填)" id="weixin" name="weixin" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动开始时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" id="start_time" name="start_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{ $dp.$D(\'deadline\')}' })" value="{$info.start_time|date='Y-m-d'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>截止创意投稿时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" id="deadline" name="deadline" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{ $dp.$D(\'vote_time\')}',minDate:'#F{ $dp.$D(\'start_time\')}' })" value="{$info.deadline|date='Y-m-d'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>截止投票时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" id="vote_time" name="vote_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{ $dp.$D(\'end_time\')}',minDate:'#F{ $dp.$D(\'deadline\')}' })" value="{$info.vote_time|date='Y-m-d'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动结束时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" id="end_time" name="end_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{ $dp.$D(\'vote_time\')}' })" value="{$info.end_time|date='Y-m-d'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" cols="" rows="" class="textarea" maxlength="255" placeholder="" oninput="this.value.length<=255?$('#textlen1').text(this.value.length):$('#textlen1').text(255)" >{$info.desc}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textlen1">0</em>/255</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">活动说明：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor" type="text/plain" name="explain" style="width:100%;height:400px;">{$info.explain}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="hidden" name="cover" id="cover" value="{$info.cover}">
        <input type="hidden" name="video_url" id="video_url" value="{$info.video_url}">
        <input type="hidden" name="id" value="{$info.id}">

    </form>
    <input type="file" name="file" id="qiniu-file" style="display: none;">
    <input type="file" name="qiniu-video" id="qiniu-video" style="display: none;">
</article>


<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/lib/qiniu.min.js"></script>
<script type="text/javascript">

    $(function(){

        var ue = UE.getEditor('editor');

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        var isclick = true;
        //表单验证
        $("#form-article-add").validate({
            rules:{
                title:{
                    required:true,
                    maxlength:30
                },
                theme: {
                    required:true
                },
                linkman:{
                    required:true
                },
                tel:{
                    required:true
                },
                email:{
                    required:true
                },
                start_time:{
                    required:true
                },
                deadline:{
                    required:true
                },
                vote_time:{
                    required:true
                },
                end_time:{
                    required:true
                }

            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Req/reqMod')}" ,
                        success: function(data){
                            // console.log(data.data);isclick=true;return;
                            if(data.code == 1) {
                                layer.msg('保存成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload();
                                });
                            }else {
                                console.log(data.data,'--HERE--');
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true;
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('接口请求失败!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });

        $(".uploadfile").click(function () {
            $("#qiniu-file").click();
        });

        $(document).on("change","#qiniu-file",function() {
            var obj = $("#qiniu-file");
            var fileName = obj.val();//上传的本地文件绝对路径
            if(fileName === '') {
                return;
            }else {
                console.log(fileName,' file.value');
            }

            var suffix = fileName.substring(fileName.lastIndexOf("."),fileName.length);//后缀名
            var suffix_str = suffix.toUpperCase();
            if(suffix_str!=".BMP"&&suffix_str!=".JPG"&&suffix_str!=".JPEG"&&suffix_str!=".PNG"&&suffix_str!=".GIF"){
                alert("请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!");
                return;
            }
            var file = obj.get(0).files[0];	                                           //上传的文件
            var limitsize = 128;
            if(file.size > limitsize*1024) {
                layer.alert('上传文件大小不超过'+limitsize+'Kb');
                return;
            }
            //七牛云上传
            $.ajax({
                type:'post',
                url: "{:url('Qiniu/getUpToken')}",
                data:{"suffix":suffix},
                dataType:'json',
                success: function(result){
                    if(result.code == 1){
                        var observer = {                         //设置上传过程的监听函数
                            next(res){                        //上传中(result参数带有total字段的 object，包含loaded、total、percent三个属性)
                                Math.floor(res.total.percent);//查看进度[loaded:已上传大小(字节);total:本次上传总大小;percent:当前上传进度(0-100)]
                                console.log(Math.floor(res.total.percent));
                            },
                            error(err){                          //失败后
                                alert(err.message);
                            },
                            complete(res){                       //成功后
                                // console.log(res,'---upload success');
                                layer.alert('上传成功',{icon:6});
                                $("#cover").val(result.data.filename);
                                $("#fileList").html('<img class="thumbnail" src="' + result.data.weburl + result.data.filename + '" />')
                            }
                        };
                        var putExtra = {
                            fname: "",                          //原文件名
                            params: {},                         //用来放置自定义变量
                            mimeType: null                      //限制上传文件类型
                        };
                        var config = {
                            region:qiniu.region.z1,             //存储区域(z0:代表华东;z2:代表华南,不写默认自动识别)
                            concurrentRequestLimit:3            //分片上传的并发请求量
                        };
                        var observable = qiniu.upload(file,result.data.filename,result.data.token,putExtra,config);
                        var subscription = observable.subscribe(observer);          // 上传开始
                        // 取消上传
                        // subscription.unsubscribe();
                    }else{
                        alert(result.data);                  //获取凭证失败
                    }
                },error:function(){                             //服务器响应失败处理函数
                    layer.alert("服务器繁忙");
                }
            });
        });

        $(".uploadvideo").click(function () {
            $("#qiniu-video").click();
        });

        $(document).on("change","#qiniu-video",function(){
            var obj = $("#qiniu-video");
            var fileName = obj.val();//上传的本地文件绝对路径
            if(fileName === '') {
                return;
            }else {
                console.log(fileName,' file.value');
            }

            var suffix = fileName.substring(fileName.lastIndexOf("."),fileName.length);//后缀名
            var suffix_str = suffix.toUpperCase();
            if(suffix_str!=".MP4"){
                alert("请上传视频（格式MP4）!");
                return;
            }
            var file = obj.get(0).files[0];	                                           //上传的文件
            if(file.size > 256*1024*1024) {
                layer.alert('上传文件大小不超过256M');
                return;
            }
            //七牛云上传
            $.ajax({
                type:'post',
                url: "{:url('Qiniu/getUpToken')}",
                data:{"suffix":suffix},
                dataType:'json',
                success: function(result){
                    if(result.code == 1){
                        var observer = {                         //设置上传过程的监听函数
                            next(res){                        //上传中(result参数带有total字段的 object，包含loaded、total、percent三个属性)
                                Math.floor(res.total.percent);//查看进度[loaded:已上传大小(字节);total:本次上传总大小;percent:当前上传进度(0-100)]
                                // console.log(Math.floor(res.total.percent));
                                $("#progress-bar").show();
                                $("#progress").css('width',Math.floor(res.total.percent)+'%');
                                $("#progress-text").text(Math.floor(res.total.percent)+'%')
                            },
                            error(err){                          //失败后
                                alert(err.message);
                            },
                            complete(res){                       //成功后
                                // console.log(res,'---upload success');
                                layer.alert('上传成功',{icon:6});
                                $("#video_url").val(result.data.filename);
                                $("#video").attr('src',result.data.weburl + result.data.filename);
                                $("#video_detail").show();
                            }
                        };
                        var putExtra = {
                            fname: "",                          //原文件名
                            params: {},                         //用来放置自定义变量
                            mimeType: null                      //限制上传文件类型
                        };
                        var config = {
                            region:qiniu.region.z1,             //存储区域(z0:代表华东;z2:代表华南,不写默认自动识别)
                            concurrentRequestLimit:3            //分片上传的并发请求量
                        };
                        var observable = qiniu.upload(file,result.data.filename,result.data.token,putExtra,config);
                        var subscription = observable.subscribe(observer);          // 上传开始
                        // 取消上传
                        // subscription.unsubscribe();
                    }else{
                        alert(result.data);                  //获取凭证失败
                    }
                },error:function(){                             //服务器响应失败处理函数
                    layer.alert("服务器繁忙");
                }
            });
        });

        $(document).on("change","#use_video",function(){
            if($('#use_video').is(':checked')) {
                $("#video_detail").show()
            }else {
                $("#video_detail").hide()
            }
        });

        var textlen1 = $("textarea[name='desc']").val().length;
        $("#textlen1").text(textlen1);

    });

</script>