<link href="/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<style>
    .image-del {
        position: absolute;z-index: +9;font-size: 20px;cursor: pointer;
    }
    .thumbnail{ width:132px;height:132px;border-radius: 50%;}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"></label>
            <div class="formControls col-xs-8 col-sm-9">
                <img class="thumbnail" src="{if $info['avatar']}
                {if substr($info['avatar'],0,4) == 'http'}{$info['avatar']}{else /}{$qiniu_weburl}{$info['avatar']}{/if}{else /}/static/src/image/default.jpg{/if}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">设计师昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="">{$info.nickname}</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>作品标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.title}" placeholder="输入活动标题" id="title" name="title" maxlength="30" readonly >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">作品展示: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <ul class="cl portfolio-area" id="fileList">
                    <?php $images = unserialize($info['pics']);?>
                    {if $images}
                    {foreach $images as $v}
                    <li class="item">
                        <div class="portfoliobox">
                            <div class="picbox">
                                <a href="{$qiniu_weburl}{$v}" data-lightbox="gallery" data-title=""><img src="{$qiniu_weburl}{$v}"></a>
                            </div>
                            <input type="hidden" value="{$v}" name="pic_url[]"/>
                        </div>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">作品内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" cols="" rows="" class="textarea" maxlength="500" placeholder="" oninput="this.value.length<=500?$('#textlen1').text(this.value.length):$('#textlen1').text(500)" readonly>{$info.desc}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textlen1">0</em>/500</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">作品时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="">{$info.create_time|date="Y-m-d H:i:s"}</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">审核状态{$info.status}：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {switch $info['status']}
                {case 0}
                <span class="label label-warning radius">审核中</span>{/case}
                {case 1}
                <span class="label label-success radius">已通过</span>{/case}
                {case 2}
                <span class="label label-danger radius">未通过</span>

                <span style="color: red;margin-left: 15px">(*{$info.reason})</span>{/case}
                {default /}
                {/switch}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;关闭页面&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id}">
    </form>
    <input type="file" name="file" id="qiniu-file" style="display: none;">
</article>

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>

<script type="text/javascript">

    $(function(){


    });

</script>