<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

    {if session('username')===config('superman')}
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe625;</i> 首页设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/slideList')}" data-title="轮播图" href="javascript:;">轮播图设置</a></li>
                    <li><a data-href="{:url('Banner/videoList')}" data-title="宣传视频" href="javascript:;">宣传视频</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-activity">
            <dt><i class="Hui-iconfont">&#xe70a;</i> 活动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Req/reqList')}" data-title="活动列表" href="javascript:void(0)">活动列表</a></li>
                    <li><a data-href="{:url('Req/workList')}" data-title="设计作品" href="javascript:void(0)">设计作品</a></li>
                    <li><a data-href="{:url('Req/ideaList')}" data-title="用户创意" href="javascript:void(0)">用户创意</a></li>
                    <li><a data-href="{:url('Req/showWorkList')}" data-title="展示作品" href="javascript:void(0)">展示作品</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-funding">
            <dt><i class="Hui-iconfont">&#xe63a;</i> 众筹管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Funding/fundingList')}" data-title="众筹管理" href="javascript:void(0)">众筹管理</a></li>
                    <li><a data-href="{:url('Funding/goodsList')}" data-title="回报商品" href="javascript:void(0)">回报商品</a></li>
                    <li><a data-href="{:url('Funding/orderList')}" data-title="众筹订单" href="javascript:void(0)">众筹订单</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-note">
            <dt><i class="Hui-iconfont">&#xe70c;</i> 笔记管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Note/noteList')}" data-title="笔记列表" href="javascript:void(0)">笔记列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-xuqiu">
            <dt><i class="Hui-iconfont">&#xe639;</i> 即时需求<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Xuqiu/xuqiuList')}" data-title="即时需求" href="javascript:void(0)">即时需求</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User/userList')}" data-title="会员列表" href="javascript:void(0);">会员列表</a></li>
                    <li><a data-href="{:url('User/rechargeList')}" data-title="充值记录" href="javascript:void(0);">充值记录</a></li>
                    <li><a data-href="{:url('User/role3OrderList')}" data-title="工厂套餐" href="javascript:void(0);">工厂套餐</a></li>
                    <li><a data-href="{:url('User/vipList')}" data-title="充值设置" href="javascript:void(0);">充值设置</a></li>
                    <li><a data-href="{:url('User/signList')}" data-title="签到记录" href="javascript:void(0);">签到记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-shop">
            <dt><i class="Hui-iconfont">&#xe66a;</i> 商城管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Shop/goodsList')}" data-title="商品列表" href="javascript:void(0);">商品列表</a></li>
                    <li><a data-href="{:url('Shop/cateList')}" data-title="商品分类" href="javascript:void(0);">商品分类</a></li>
                    <li><a data-href="{:url('Shop/orderList')}" data-title="订单管理" href="javascript:void(0);">订单管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Admin/adminlist')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                    <li><a data-href="{:url('Admin/grouplist')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="{:url('Admin/rulelist')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <!--<li><a data-href="{:url('System/setting')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>-->
                    <li><a data-href="{:url('System/syslog')}" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-fake">
            <dt><i class="Hui-iconfont">&#xe6f9;</i> 工厂数据<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Fake/roleList')}" data-title="工厂数据" href="javascript:void(0)">工厂数据</a></li>
                    <li><a data-href="{:url('Fake/worksList')}" data-title="参赛作品" href="javascript:void(0)">参赛作品</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tmpac">
            <dt><i class="Hui-iconfont">&#xe6b5;</i> 临时活动<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Tmp/acDetail')}" data-title="临时活动" href="javascript:void(0)">临时活动</a></li>
                    <li><a data-href="{:url('Tmp/joinList')}" data-title="参加记录" href="javascript:void(0)">参加记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-yu">
            <dt><i class="Hui-iconfont">&#xe6f9;</i> 南都湖鱼<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Yu/recordList')}" data-title="领取记录" href="javascript:void(0)">领取记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-attract">
            <dt><i class="Hui-iconfont">&#xe6f9;</i> 招商合作<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Attract/recordList')}" data-title="表单记录" href="javascript:void(0)">表单记录</a></li>
                </ul>
            </dd>
        </dl>

    {elseif  session('username')==='zhaoshang' /}

        <dl id="attract">
            <dt><i class="Hui-iconfont">&#xe6f9;</i> 招商合作<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Attract/recordList')}" data-title="表单记录" href="javascript:void(0)">表单记录</a></li>
                </ul>
            </dd>
        </dl>

    {else /}

        <dl id="yu">
            <dt><i class="Hui-iconfont">&#xe6f9;</i> 南都湖鱼<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <!--<li><a data-href="{:url('Yu/userList')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>-->
                    <li><a data-href="{:url('Yu/recordList')}" data-title="领取记录" href="javascript:void(0)" id="recordList">领取记录</a></li>
                </ul>
            </dd>
        </dl>

    {/if}

    </div>
</aside>