<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 版权管理 <span class="c-gray en">&gt;</span> 版权列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 版权名" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找版权</button>
            <span class="select-box inline" style="width: 120px;">
                <select name="show" id="show" class="select">
                    <option value="">全部</option>
                    <option value="0" {if $param['show'] === '0'}selected{/if}>已隐藏</option>
                    <option value="1" {if $param['show'] === '1'}selected{/if}>已显示</option>
                </select>
            </span>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加版权" data-href="" onclick="pagefull('添加版权','{:url("Copyright/ipAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加版权
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="100">封面</th>
            <th width="100">版权分类</th>
            <th>版权名称</th>
            <th width="150">权利人</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td>
                    <div style="width: 150px;height: 200px;background-image: url('{$qiniu_weburl}{$li.cover}');background-position: center;background-repeat: no-repeat;background-size: cover"></div>
                </td>
                <td>{$li.cate_name}</td>
                <td>
                    {$li.title}
                </td>
                <td>
                    {$li.obligee}
                </td>
                <td class="f-14 td-manage">
                    <span>
                        {if $li['show'] == '1'}
                        <a style="text-decoration:none" onClick="ip_hide(this,{$li.id})" href="javascript:;" title="隐藏">
                            <i class="Hui-iconfont">&#xe6de;</i>
                        </a>
                        {else /}
                        <a style="text-decoration:none" onClick="ip_show(this,{$li.id})" href="javascript:;" title="显示">
                            <i class="Hui-iconfont">&#xe603;</i>
                        </a>
                        {/if}
                    </span>
                    <span>
                        <a style="text-decoration:none" onclick="pagefull('版权详情','{:url("Copyright/ipDetail",array("id"=>$li["id"]))}')" href="javascript:;" title="版权详情">
                            <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                    </span>
                </td>
            </tr>
            {/foreach}
        </form>
        <tr>
            <td colspan="9" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Copyright/ipList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage = '{$page.totalPage}';
    var click_lock = true;
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: true, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }


    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var show = $("#formAjax").find("#show").val();
        var str = '';
        if(search.length != '') {
            str += '&search=' + search;
        }
        if(show.length != '') {
            str += '&show=' + show;
        }
        window.location.href = '{:url("Copyright/ipList")}' + '?' + str;
    });


    /*下架*/
    function ip_hide(obj,id){
        layer.confirm('确认要隐藏吗？',function(index){
            $.ajax({
                url:"{:url('Copyright/ipHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parent().html('<a style="text-decoration:none" onClick="ip_show(this,'+id+')" href="javascript:;" title="显示"><i class="Hui-iconfont">&#xe603;</i></a>');
                        layer.msg('已隐藏!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }
    /*上架*/
    function ip_show(obj,id){
        layer.confirm('确认要显示吗？',function(index){
            $.ajax({
                url:"{:url('Copyright/ipShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parent().html('<a style="text-decoration:none" onClick="ip_hide(this,'+id+')" href="javascript:;" title="隐藏"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        layer.msg('已显示!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }



</script>