<link href="/lib/select2/select2.min.css" rel="stylesheet">
<script src="/lib/select2/select2.min.js"></script>
<style>
    .td-jian,.td-batch,.td-sample,.td-mold { cursor: pointer }
    .first-label { width: 200px;display: inline-flex }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-l">
            <span class="select-box inline">
				<select class="select" name="shop_id" id="shop_id" style="width: 200px;">
                    <option value="">全部商户</option>
                    {foreach $shoplist as $li}
                    <option value="{$li.id}" {if $param['shop_id']==$li['id']}selected{/if}>
                            (id:{$li.id} |
                            {switch $li['role']}
                                {case 1} 文旅机构 {/case}
                                {case 2} 工厂 {/case}
                                {default /}
                            {/switch} ) -
                            {$li.org}
                    </option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline">
				<select class="select" name="use_video" id="use_video" style="width: 120px;">
                    <option value="">全部(video)</option>
                    <option value="0" {if $param['use_video']=='0'}selected{/if}>无视频</option>
                    <option value="1" {if $param['use_video']=='1'}selected{/if}>有视频</option>
				</select>
            </span>
            <span class="select-box inline">
				<select class="select" name="status" id="status" style="width: 120px;">
                    <option value="">全部(status)</option>
                    <option value="0" {if $param['status']=='0'}selected{/if}>已下架</option>
                    <option value="1" {if $param['status']=='1'}selected{/if}>在售中</option>
				</select>
            </span>
            <span class="select-box inline">
				<select class="select" name="pcate_id" id="pcate_id" style="width:120px">
					<option value="">全部(一级分类)</option>
                    {foreach $pcate_list as $li}
					<option value="{$li.id}" {if $param['pcate_id']==$li['id']}selected{/if}>{$li.cate_name}</option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline">
				<select class="select" name="cate_id" id="cate_id" style="width:120px">
                    <option value="">全部(二级分类)</option>
                    {foreach $cate_list as $li}
					<option value="{$li.id}" {if $param['cate_id']==$li['id']}selected{/if}>{$li.cate_name}</option>
                    {/foreach}
				</select>
            </span>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 商品名" style="width:250px;" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" style="height: 28px;" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找商品</button>

        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加商品" data-href="article-add.html" onclick="pagefull('添加商品','{:url("Shop/goodsAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="40">#</th>
            <th width="60">排序</th>
            <th width="80">商品图片</th>
            <th width="80">商品价格</th>
            <th width="80">库存</th>
            <th width="80">销量</th>
            <th width="120">上市日期</th>
            <th width="60">审核状态</th>
            <th width="60">审核</th>
            <th width="40">爆款</th>
            <th width="40">小批量</th>
            <th width="40">免拿样</th>
            <th width="40">免开模</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td rowspan="2">{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <div style="width: 80px;height: 80px;background-image: url('{$qiniu_weburl}{$li.poster}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.price}</td>
                <td>{$li.stock}</td>
                <td>{$li.sales}</td>
                <td>{$li.create_time|date='Y年m月d日'}</td>
                <th class="td-check">
                    {switch $li['check']}
                    {case 0}<span class="label label-warning radius">待审核</span>{/case}
                    {case 1} <span class="label label-success radius">已通过</span> {/case}
                    {case 2} <span class="label label-danger radius">未通过</span> {/case}
                    {default /}
                    {/switch}
                </th>
                <td>
                    {if $li['check'] == '0'}
                    <a class="btn btn-link radius" style="text-decoration:none;" onClick="goods_shenhe(this,{$li.id})" href="javascript:;" title="审核">审核</a>
                    {else /}
                    <span class="btn btn-link radius"></span>
                    {/if}
                </td>
                <td class="td-jian" onclick="goods_recommend(this,{$li.id})">
                    {if $li['recommend'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-batch" onclick="goods_batch(this,{$li.id})">
                    {if $li['batch'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-sample" onclick="goods_sample(this,{$li.id})">
                    {if $li['sample'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-mold" onclick="goods_mold(this,{$li.id})">
                    {if $li['mold'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-manage" rowspan="2">
                    {if $li['status'] == '1'}
                    <a style="text-decoration:none" onClick="goods_hide(this,{$li.id})" href="javascript:;" title="下架">
                        <i class="Hui-iconfont">&#xe6de;</i>
                    </a>
                    {else /}
                    <a style="text-decoration:none" onClick="goods_show(this,{$li.id})" href="javascript:;" title="上架">
                        <i class="Hui-iconfont">&#xe603;</i>
                    </a>
                    {/if}
                    <a style="text-decoration:none" onclick="pagefull('商品信息','{:url("Shop/goodsDetail",array("id"=>$li["id"]))}')" class="ml-5" href="javascript:;" title="查看商品">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                </td>
            </tr>
            <tr class="text-c">
                <td colspan="12" class="text-l"><b>商品名称</b> : {$li.name}
                    (
                    <span class="td-status">
                    {if $li['status'] == '1'}
                    <span class="label label-success radius">已上架</span>
                    {/if}
                    {if $li['status'] == '0'}
                    <span class="label label-defaunt radius">已下架</span>
                    {/if}
                    </span>
                    )
                    <span style="font-weight: bold">
                    【{if $li['shop_id']}
                    {$li.org}
                    (
                    {switch $li['role']}
                    {case 1} 文旅机构 {/case}
                    {case 2} 工厂 {/case}
                    {default /}
                    {/switch}
                    )
                    {else /}
                    自主平台
                    {/if}】
                    </span>

                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="16" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Shop/goodsList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage='{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: true, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var shop_id = $("#formAjax").find("#shop_id").val();
        var use_video = $("#formAjax").find("#use_video").val();
        var status = $("#formAjax").find("#status").val();
        var pcate_id = $("#formAjax").find("#pcate_id").val();
        var cate_id = $("#formAjax").find("#cate_id").val();
        var search = $("#formAjax").find("#search").val();
        var id = $("#formAjax").find("#id").val();
        var str = 'id=' + id;
        if(shop_id.length != '') {
            str += '&shop_id=' + shop_id;
        }
        if(use_video.length != '') {
            str += '&use_video=' + use_video;
        }
        if(status.length != '') {
            str += '&status=' + status;
        }
        if(pcate_id.length != '') {
            str += '&pcate_id=' + pcate_id;
        }
        if(cate_id.length != '') {
            str += '&cate_id=' + cate_id;
        }
        if(search.length != '') {
            str += '&search=' + search;
        }
        window.location.href = '{:url("Shop/goodsList")}' + '?' + str;
    });


    /*下架*/
    function goods_hide(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $.ajax({
                url:"{:url('Shop/goodsHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").next().find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_show(this,'+id+')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).remove();
                        layer.msg('已下架!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }
    /*上架*/
    function goods_show(obj,id){
        layer.confirm('确认要上架吗？',function(index){
            $.ajax({
                url:"{:url('Shop/goodsShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").next().find(".td-status").html('<span class="label label-success radius">已上架</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_hide(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).remove();
                        layer.msg('已上架!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }

    /*作品审核*/
    function goods_shenhe(obj,id){
        layer.confirm('审核商品？', {
                btn: ['通过','不通过','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.ajax({
                    url:"{:url('Shop/goodsPass')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            $(obj).parents("tr").find(".td-check").html('<span class="label label-success radius">已通过</span>');
                            $(obj).parent().html('<span class="btn btn-link radius"></span>');
                            layer.msg('已审核', {icon:1,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    },
                })

            },
            function(){
                layer.prompt({
                    formType: 2,
                    value: '内容违规',
                    title: '请输入理由(最多50个字)',
                    maxlength:50,
                    area: ['400px', '300px'] //自定义文本域宽高
                }, function(value, index, elem){
                    reason = value;
                    layer.close(index);
                    $.ajax({
                        url:"{:url('Shop/goodsReject')}",
                        type:'post',
                        dataType:'json',
                        data:{id:id,reason:reason},
                        success:function(data) {
                            console.log(data)
                            if(data.code == 1) {
                                $(obj).parents("tr").find(".td-check").html('<span class="label label-danger radius">未通过</span>');
                                $(obj).parent().html('<span class="btn btn-link radius"></span>');
                                layer.msg('已拒绝', {icon:1,time:1000});
                            }else {
                                layer.msg(data.data,{icon:2,time:1000})
                            }
                        },
                        error:function(data) {
                            layer.msg('请求失败!',{icon:5,time:1000})
                        }
                    })
                })


            });
    }

    var isclick = true;

    function goods_recommend(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsRecommend')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_batch(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsBatch')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_sample(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsSample')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_mold(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsMold')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    $(".sort").bind('input propertychange', function() {
        var id = $(this).parent().prev().text();
        var sort = $(this).val();
        var rule = /^[0-9]{0,10}$/;
        if(!rule.test(sort)) {
            // $(this).val('')
            alert('排序必须为数字,且不超过10位');
            return;
        }
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/sortGoods')}",
                type:"post",
                data:{id:id,sort:sort},
                success:function(data) {
                    console.log(data);
                    isclick = true;
                },
                error: function(data) {
                    console.log('接口请求失败!');
                    isclick = true;
                }
            })
        }

    });

    $("#pcate_id").change(function () {
        var pid = $(this).val();
        $.ajax({
            url: "{:url('Shop/getCateList')}" ,
            type: 'post',
            data:{pid:pid},
            success: function(data){
                // console.log(data.data)
                if(data.code == 1) {
                    var html = '<option value="">全部(二级分类)</option>',list = data.data;
                    if(list.length > 0) {
                        for(var i=0; i <list.length;i++) {
                            html += '<option value="'+list[i].id+'">'+list[i].cate_name+'</option>';
                        }
                    }
                    $("#cate_id").html(html);

                }else {
                    layer.msg('接口异常',{icon:5,time:1000});
                }
            },
            error: function(res){
                layer.msg('接口请求失败!',{icon:5,time:1000});
                isclick = true
            }
        })
    });


    $(document).ready(function () {
        $('#shop_id').select2();
    });




</script>