<link href="/lib/select2/select2.min.css" rel="stylesheet">
<script src="/lib/select2/select2.min.js"></script>
<style>
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 样品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-l">
            <span class="select-box inline">
				<select class="select" name="shop_id" id="shop_id" style="width: 300px;">
                    <option value="">全部商户</option>
                    {foreach $shoplist as $li}
                    <option value="{$li.id}" {if $param['shop_id']==$li['id']}selected{/if}>
                            (id:{$li.id} |
                            {switch $li['role']}
                                {case 1} 文旅机构 {/case}
                                {case 2} 工厂 {/case}
                                {default /}
                            {/switch} ) -
                            {$li.org}
                    </option>
                    {/foreach}
				</select>
            </span>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 样品名" style="width:250px;" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" style="height: 28px;" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找样品</button>

        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加样品" data-href="article-add.html" onclick="pagefull('添加样品','{:url("Sample/sampleAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加样品
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="40">#</th>
            <th width="60">排序</th>
            <th width="80">样品图片</th>
            <th>样品名称</th>
            <th width="80">免费名额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <div style="width: 80px;height: 80px;background-image: url('{$qiniu_weburl}{$li.poster}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.name}</td>
                <td>{$li.stock}</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="pagefull('样品信息','{:url("Sample/sampleDetail",array("id"=>$li["id"]))}')" class="ml-5" href="javascript:;" title="查看样品">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="12" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Sample/sampleList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage='{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: true, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var shop_id = $("#formAjax").find("#shop_id").val();
        // var status = $("#formAjax").find("#status").val();
        var search = $("#formAjax").find("#search").val();
        var id = $("#formAjax").find("#id").val();
        var str = 'id=' + id;
        if(shop_id.length != '') {
            str += '&shop_id=' + shop_id;
        }
        // if(status.length != '') {
        //     str += '&status=' + status;
        // }
        if(search.length != '') {
            str += '&search=' + search;
        }
        window.location.href = '{:url("Sample/sampleList")}' + '?' + str;
    });


    var isclick = true;

    $(".sort").bind('input propertychange', function() {
        var id = $(this).parent().prev().text();
        var sort = $(this).val();
        var rule = /^[0-9]{0,10}$/;
        if(!rule.test(sort)) {
            // $(this).val('')
            alert('排序必须为数字,且不超过10位');
            return;
        }
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Sample/sortSample')}",
                type:"post",
                data:{id:id,sort:sort},
                success:function(data) {
                    console.log(data);
                    isclick = true;
                },
                error: function(data) {
                    console.log('接口请求失败!');
                    isclick = true;
                }
            })
        }

    });

    $(document).ready(function () {
        $('#shop_id').select2();
    });

</script>